/* FONTES PERSONALIZADAS */
@font-face {
    font-family: 'Harry Beast';
    src: url(../assets/fontes/harryp.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Harry Potter', sans-serif;
    height: 100vh;
    margin: 0;
    margin-left: 0 !important;
}

#menu-lateral {
    background-color: #02083e;
    width: 19%;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logo {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px
}

.logo img {
    width: 250px;
    height: auto
}

#perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg-perfil svg {
    height: 100px;
    width: 100px;
    background-color: #02083e;
    cursor: pointer;
}

.hello {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Harry Beast';
    font-size: 3.5rem;
    color: #ffd700;
}

#menu-lateral nav {
    margin: 0;
    width: 100%;
}

#menu-lateral nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}


#menu-lateral nav ul li {
    display: flex;
    align-items: center;
    padding: 7% 7%;
    max-width: 100%;
}

#menu-lateral nav ul li span.material-symbols-outlined {
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

#menu-lateral nav ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

#menu-lateral nav ul li.atual {
    background-color: beige;
    max-width: 100% !important;
}

.conteudo {
    margin-left: 19%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #07406b;
    min-height: 100vh;
}

.perfil-casa {
    display: flex;
    padding: 40px;
    color: #fff;
    gap: 40px;
}

.coluna-esquerda {
    width: 25%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.brasao {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.coluna-direita {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo-casa {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Harry Beast';
    font-size: 80px;
    color: #fff;
}

.origem,
.lenda {
    font-size: 18px;
}

.personalidade {
    font-size: 60px;
    font-family: "Harry Beast";
    margin-right: 10px;
    color: #fff;
}